/* Color de la cabecera */
.navbar-custom {
    background-color: #bb0000; 
}

/* Color y forma del texto de la cabecera */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
    max-height: 120px; 
}

/* Margen de los títulos */
.custom-margin {
    margin-left: 15px;
    margin-right: 15px;
}

/* Estilo para los títulos */
.box-title {
    color: #000000;
    font-weight: bold;
}

/* Estilo para los botones de navegación */
.nav-box {
    display: inline-block;
    margin: 0 10px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Color del texto de los botones de navegación */
.nav-box .nav-link {
    color: #000;
    text-decoration: none;
}

/* Estilo para el logo en la barra de navegación */
.navbar-brand img {
    max-height: 120px; 
}

/* Estilo para las letras */
.img-right {
    display: block; 
    max-width: 30%; 
    margin-right: 30px; 
    margin-top: 20px; 
}

@media (max-width: 768px) {
    .img-right {
        display: none; 
    }
}

/* Estilo para el cuadro de clasificación y circuito*/
.cuadro-box {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 30px;
}

/* Estilo para los recuadros de noticias */
.additional-box {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #f7f7f7;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 30px;
}

/* Estilo para el contenedor de las imágenes */
.cercles {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-bottom: 50px;
}

/* Estilo para cada imagen dentro de la lista */
.cercles li {
    flex: 0 0 calc(33.33% - 15px); 
    margin-bottom: 15px; 
    margin-left: 15px; 
}

/* Estilo para las imágenes dentro de la lista */
.cercles img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    border-radius: 50%; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Estilo para transformar a una columna de 1 en pantallas pequeñas */
@media (max-width: 768px) {
    .cercles li {
        flex: 0 0 calc(100% - 15px); 
    }
}

/* Estilo para la imagen del circuito */
.circuit-image-container {
    width: 100%;
    max-width: 100%; 
    overflow: hidden;
    border-radius: 10px; 
}

/* Estilo para la imagen del circuito */
.circuit-image {
    width: 100%;
    height: auto; 
    display: block; 
}

/* Estilo para la imagen de la bandera del circuito */
.circuit-flag {
    position: absolute;
    top: 15px; 
    right: 15px; 
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    margin: 15px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Estilo para el pie de página */
.footer {
    background-color: #bb0000; 
    padding: 15px; 
    color: #ffffff; 
}

/* Estilo para los títulos del pie de página */
.footer .box-title {
    color: #ffffff;
    font-weight: bold;
}

/* Estilo para los enlaces del pie de página */
.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    color: #ffffff;
    text-decoration: underline;
}